
 body{
    background-color: navy;
} 
.a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 550px;
    /* background-color: #424242; */
    /* background-color: cadetblue; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: auto;
    margin-top: 200px;
    color: white;
}
/* .a>div {
    background-color: #5D4037;
    font-size: 80px;
} */
span{
    font-size: 70px;
    color: white;
}
#hour,#minute,#sec,#milli{
    font-size: 80px;
}
.sidebar{
    background-color: aliceblue;
    color:navy;
    height: 750px;
    width: 100px;
}
.display{
    display: flex;
}
.image{
    height: 100px;
    width: 100px;
    margin-top: 10px;
}
h4{
    text-align: center;
}

/* #hour{
    background-color: #455A64;
    height: 100px;
    width: 100px;
    font-size: 80px;
    
}
#minute,#sec,#milli{
    background-color: #455A64;
    height: 100px;
    width: 100px;
    font-size: 80px;
    
} */
/* #sec{
    background-color: #455A64;
    height: 100px;
    width: 100px;
    font-size: 80px;
   
}
#milli{
    background-color: #455A64;
    height: 100px;
    width: 100px;
    font-size: 80px;  
} */