nav{
   
   height:100px;
   display:flex;
   font-size:23px;
   
}
#a{
   margin-top:20px;
   margin-left:80px;
}
#b{
   display:flex;
   margin-left:700px;
   gap:30px;
   margin-top:25px;
   
}
.z{
  height:38px;
  width:150px;
  background-color:#FFB100;
  border-radius:7px;
  color:white;
  padding-top:10px;
}
#c{
   margin-top:30px;
   height:65px;
   background-color:#0000FF;
   color:white;
   text-align:center;
   padding-top:20px;
  
}
h3{
  margin-top:15px;
  font-size:20px;
}
#d{
   text-align:center;
}
h1{
   font-size:60px;
    background:linear-gradient(to right,skyblue,blue,violet);
    
}
h2{
   font-size:30px;
}

h4{
   margin-top:13px;
}
img{
   width:50%;
}
